
###################  required imports ####################################

import numpy as np
import cv2 as cv
import matplotlib.pyplot as plt
import random
from scipy.spatial import procrustes
import open3d as o3d
import scipy
import matplotlib
from scipy.linalg import orthogonal_procrustes

#########################################################################

